<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <script src = "vendors/jquery.min.js" charset="utf-8"></script>
    <script src = "scripts/clientapp.js" charset="utf-8"></script>
    <link href ="vendors/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <title>Assessment!</title>
  </head>
  <body>
    <h1>Tracey's Zoo of Insane Animals</h1>
    <form>
      <input type="text" id="addAnimal" name="addAnimal" placeholder = "Enter Animal Type Here"/>

      <button id="addAnimalButton" name="addAnimalButton">Add Animal</button>
      <button id="updateDisplay" name="updateDisplay">Update Display</button>

    </form>
    <h3>Current Creatures</h3>
    <div id="animal">

    </div>
  </body>
</html>
